.menu {
  width: 100vw;
  max-width: 100%;
  background-color: red;
}

.menu__content-nav {
  padding: 15px;
  background-color: #000;
  display: flex;
}

.menu__nav {
  width: 100%;
  max-width: 500px;
  padding: 14px;
  margin: auto;
  border-radius: 50px;
  box-shadow: rgba(253, 253, 253, 0.24) 0px 3px 8px;
  background-color: #fff;
  display: flex;
  align-items: center;
}

.menu__logo {
  padding: 6px;
  border-radius: 10px;
  font-family: var(--font-bebas-nevue);
  font-size: 24px;
  transition: all 0.3s;
  cursor: pointer;
}

.menu__logo:hover {
  color: var(--color-light);
  background-color: var(--color-dark);
}

/* list menu */

.menu__list {
  display: flex;
  gap: 10px;
}

.menu__content-nav .menu__list {
  margin: auto;
}

.menu__link {
  color: #000;
  font-family: var(--font-robot);
  font-weight: var(--font-weight-700);
  font-size: 18px;
}
