@import url(./fonts/font.css);

:root {
  --font-bebas-nevue: "Bebas Neue", sans-serif;
  --font-robot: "Roboto", sans-serif;

  --font-weight-100: 100;
  --font-weight-300: 300;
  --font-weight-400: 400;
  --font-weight-500: 500;
  --font-weight-600: 600;
  --font-weight-700: 700;

  --font-style-italic: italic;

  --color-dark: #000000;
  --color-light: #ffff;
  --color-light-secondary: #e2dfd0;

  --theme-dark: #000000;
  --theme-light: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

.link {
  text-decoration: none;
}
